body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: #f9f9f9;
}

.navbar {
  background-color: #1e2a38;
  color: white;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .logo {
  cursor: pointer;
  font-weight: bold;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.navbar ul li a, .navbar ul li button {
  color: white;
  text-decoration: none;
  background: none;
  border: none;
  cursor: pointer;
}

.auth-container {
  max-width: 400px;
  margin: 3rem auto;
  background: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0px 0px 8px rgba(0,0,0,0.1);
}

.auth-container form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.auth-container input, .auth-container button {
  padding: 10px;
  font-size: 1rem;
}
.booking-summary-container {
  max-width: 500px;
  margin: auto;
  padding: 1.5rem;
  background-color: #f5f5f5;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.booking-summary-container input {
  display: block;
  margin-bottom: 1rem;
  padding: 0.4rem;
  width: 100%;
}
.booking-summary-container button {
  padding: 0.5rem 1rem;
  background-color: #0066ff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
.booking-summary-container button:disabled {
  background-color: gray;
}
